{% extends "base_template.html" %}

{% block content %}
  <h1>Spoken Tutorial Event Logs and Analytics System</h1>

  <div id="container" style="height: 350px"></div>

  <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <input type="text" name="location">Or, enter a location:</input>
    
    <button type="submit">Visualize</button>
  </form>

  <div id="location" style="{{ style }}"></div>



  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>

    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Visitors by time'
        },
        xAxis: {
            categories: ['Past Day', 'Past Week', 'Past Year', 'All Time']
        },
        series: [{
            name: 'Vistor Count',
            data: [ {{ day }}, {{ week }}, {{ year }}, {{ total }} ]
        }]
    });



    Highcharts.chart('location', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Visitors from location '
        },
        xAxis: {
            categories: [ '{{ location }}' , 'Total'],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' millions'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Visitor Count',
            data: [ {{ loc_visitors }}, {{ total }} ]
        }]
      });

    

    
  </script>
{% endblock %}