{% extends "base_template.html" %}

{% block content %}


  <!-- Chart to visualize day, week, year and total log counts -->
  <div id="container" style="height: 350px"></div>


  <!-- Ask user for location for filtering by location -->
  <form action="{% url 'visualize' %}" method="post">
	{% csrf_token %}
	
    <input type="text" name="location">Or, enter a location:</input>
	<input type="submit">Visualize</input>
	
  </form>


  <!-- Chart to visualize event log by given location -->
  <div id="location" style="{{ style }}"></div>

  <!-- Include HighCharts -->
  <script src="https://code.highcharts.com/highcharts.src.js"></script>

  <!-- Draw charts. Refer to https://www.highcharts.com/docs/index for documentation -->
  <script>

	// Draw chart 1
	Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Visitor Count by Time'
        },
        xAxis: {
            categories: ['Past Day', 'Past Week', 'Past Year', 'All Time']
        },
        series: [{
            name: 'Visitor Count',
            data: [ {{ day }}, {{ week }}, {{ year }}, {{ total }} ]
        }]
    });

	// Draw chart 2, if required
    Highcharts.chart('location', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Visitors from location {{ location }}'
        },
        xAxis: {
            categories: [ '{{ location }}' , 'Total'],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Visit count',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Visitor Count',
            data: [ {{ loc_visitors }}, {{ total }} ]
        }]
    });

  </script>
{% endblock %}