{% extends "base_template.html" %}

{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        The entered username and password do not match any account.
    </div>
  {% endif %}

  <div class="card mb-3 mx-auto text-center" style="max-width: 22rem;">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="table-responsive">
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <input class="btn btn-primary" type="submit" value="login" style="margin-top: 10px;" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
  
  
{% endblock %}